.detail {
    width: 100%;
    height: calc(100% - 5rem + 2px);

    overflow-x: hidden;
    overflow-y: scroll;

    position: fixed;
    top: calc(2.5rem + 1px);
    left: 0;

    background-color: #303030;

    z-index: 2;
}

.detail-post {
    width: 30rem;
    height: auto;

    position: relative;
    float: left;

    background-color: #202020;
    border: solid #404040 1px;

    cursor: pointer;
}

.detail-likes-active, .detail-comments-active {
    width: auto;
    height: 0.75rem;

    padding: 0 0 0 0.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: #00695C;
    font-size: 0.6rem;
    font-weight: 900;
    line-height: 1rem;

    cursor: pointer;
    outline: none;
}