.camera-gallery {
    width: 30rem;
    height: calc(5rem + 15px);

    position: relative;
    float: left;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    background-color: #303030;
    border-bottom: solid #404040 1px;
}

.camera-gallery > p {
    width: 30rem;
    height: 5rem;
    padding: 0;
    margin: 0;

    color: #505050;
    font-size: 0.6rem;
    font-weight: 900;
    text-align: center;
    line-height: 5rem;
}

.camera-gallery-image {
    width: 5rem;
    height: 5rem;

    display: inline-block;

    object-fit: cover;
    background-size: cover;
    background-position: center;

    opacity: 0.35;

    cursor: pointer;
}

.camera-gallery-image-active {
    width: 5rem;
    height: 5rem;

    display: inline-block;

    object-fit: cover;
    background-size: cover;
    background-position: center;

    cursor: pointer;
}

@media (max-width: 50rem) {
    .camera-gallery {
        width: 100%;
    }
}