.album {
    width: calc(9.66rem - 2px);
    height: calc(9.66rem - 2px);
    margin: 0 0.5rem 0.5rem 0;

    position: relative;
    float: left;

    object-fit: cover;
    background-size: cover;
    background-position: center;

    border: solid 1px #404040;

    cursor: pointer;
}

.album:nth-child(3n + 1) {
    margin-right: 0;
}

@media (max-width: 50rem) {
    .album {
        width: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
        height: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
    }
}