.signin {
    width: calc(100% - 1rem - 2px);
    height: auto;

    padding: 0.5rem;

    position: relative;
}

.signin-title {
    width: 100%;
    height: 1.5rem;

    margin-bottom: 0.5rem;

    position: relative;

    color: #606060;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.5rem;
}

.signin-input {
    width: calc(100% - 1rem);
    height: 1.5rem;

    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    position: relative;

    color: #757575;
    font-size: 0.5rem;
    background-color: #303030;
    border: solid 1px #222222;

    cursor: pointer;
    outline: none;
}

.signin-btn {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    color: #212121;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #9E9E9E;
    border: solid 1px #616161;

    cursor: pointer;
    outline: none;
}

.signin > p {
    width: 100%;
    height: 1.5rem;

    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    color: #616161;
    font-size: 0.6rem;
    text-align: center;
    line-height: 1.5rem;

    opacity: 0.5;
}

.signin > p > span {
    color: #9E9E9E;
    font-weight: 900;

    cursor: pointer;
}

.signin-margin {
    width: 100%;
    height: 0.5rem;

    position: relative;
    float: left;
}

.signup-password-check {
    width:  calc(100% - 1.1rem);
    height: 3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    position: relative;
    float: left;

    border: solid 0.05rem #404040;
    border-radius: 0.5rem;
}

.signup-password-check > p {
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    color: #808080;
    font-size: 0.4rem;
    font-weight: 700;
    line-height: 1rem;
}