.loading {
    width: 100%;
    height: 100%;

    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #101010;

    opacity: 0.85;

    z-index: 9;
}

.loading-img {
    width: 3rem;
    height: 3rem;

    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);

    border: 1rem solid #303030;
    border-radius: 50%;
    border-top: 1rem solid #004D40;
    
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}