.profile {
    width: calc(100% - 1.5rem);
    height: auto;

    padding: 0.75rem;
}

.profile-profile {
    width: 10rem;
    height: 10rem;

    margin: calc(50% - 5rem) calc(50% - 5rem) 0 calc(50% - 5rem);

    position: relative;
    float: left;

    background-size: cover;
    background-position: center;

    border: solid 1px #404040;
    border-radius: 50%;
}

.profile-change-profile {
    width: 6rem;
    height: 0.85rem;
    margin: 1rem calc(50% - 3rem);

    position: relative;
    float: left;

    color: #CCCCCC;
    font-size: 0.45rem;
    font-weight: 900;
    text-align: center;
    line-height: 0.9rem;
    border: solid 0.1rem #606060;
    border-radius: 3rem;

    cursor: pointer;

    opacity: 0.75;
}

.profile-placeholder {
    width: 100%;
    height: 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: 0.5rem;

    opacity: 0.5;
}

.profile-input {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    text-indent: 0.5rem;
    background: none;
    border: none;
    border-bottom: solid 0.1rem #404040;

    outline: none;

    opacity: 0.75;
}

.profile-textbox {
    width: calc(100% - 1rem);
    height: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    resize: none;
    overflow: hidden;

    color: white;
    font-size: 0.5rem;
    font-weight: 600;
    line-height: 0.75rem;
    background: none;
    border: none;
    border-bottom: solid 0.1rem #404040;

    outline: none;

    opacity: 0.75;
}

.profile-submit {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: #212121;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #9E9E9E;
    border: solid 1px #616161;

    cursor: pointer;
    outline: none;
}

.profile-logout {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: #AAAAAA;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #444444;
    border: solid 1px #333333;

    cursor: pointer;
    outline: none;
}

.profile-delete {
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.75rem;

    position: relative;
    float: left;

    color: #EEEEEE;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: #444444;
    border: solid 1px #333333;

    cursor: pointer;
    outline: none;

    opacity: 0.75;
}

.changePassword-password-check {
    width:  calc(100% - 1.1rem);
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

    position: relative;
    float: left;

    border: solid 0.05rem #404040;
    border-radius: 0.5rem;
}

.changePassword-password-check > p {
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    color: #808080;
    font-size: 0.4rem;
    font-weight: 700;
    line-height: 1rem;
}