@import url('https://fonts.googleapis.com/css?family=Astloch:400&display=swap');

.header {
    width: 100%;
    height: 2.5rem;

    position: relative;
    float: left;

    background-color: #101010;
    border-bottom: solid #404040 1px;

    z-index: 10;
}

.header-title {
    width: 5rem;
    height: 2.5rem;
    
    margin-left: 1rem;

    position: relative;
    float: left;

    color: #808080;
    font-size: 1.25rem;
    font-family: 'Astloch', cursive;
    line-height: 2.5rem;

    cursor: pointer;
}

.header-icon {
    width: 1rem;
    height: 1rem;
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;

    position: relative;
    float: left;

    color: #505050;

    cursor: pointer;
}

.header-icon:hover {
    color: #808080;
    transition: ease-in 0.25s;
}

.header-icon-active {
    width: 1rem;
    height: 1rem;
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;

    position: relative;
    float: left;

    color: #AAAAAA;

    cursor: pointer;
}