@import url('https://fonts.googleapis.com/css?family=Astloch:400&display=swap');

.sidebar {
    width: 15rem;
    height: calc(100% - 5rem + 2px);

    overflow-x: hidden;
    overflow-y: scroll;

    position: absolute;
    top: 2.5rem;
    left: calc(100% - 15rem);
    
    background-color: #151515;
    border-left: solid 1px #404040;

    z-index: 9;
}

.sidebar-cover {
    width: calc(100% - 15rem);
    height: calc(100% - 5rem + 2px);

    overflow: hidden;

    position: absolute;
    top: 2.5rem;
    left: 0;

    background-color: #202020;
    opacity: 0.95;
}