.camera {
    width: 100%;
    height: calc(100% - 5rem + 2px);

    overflow-x: hidden;
    overflow-y: scroll;

    position: fixed;
    top: calc(2.5rem + 1px);
    left: 0;

    background-color: #202020;
    opacity: 0.975;

    z-index: 2;
}

.camera-post {
    width: 30rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    position: relative;
    float: left;

    background-color: #202020;
    border: solid #404040 1px;

    cursor: pointer;
}

.camera-input {
    width: 7rem;
    height: 0.7rem;

    color: white;
    font-size: 0.6rem;
    background: none;
    border: none;
    border-bottom: solid 0.1rem #404040;

    outline: none;
}

.camera-webcam {
    width: 30rem;
    height: 30rem;

    position: relative;
    float: left;

    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);

    border-top: solid #404040 1px;
    border-bottom: solid #404040 1px;
}

.camera-shoot {
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 29.5rem;
    left: calc(50% - 1.5rem);

    background-color: #00695C;
    border-radius: 50%;
    border: solid 0.5rem #404040;

    opacity: 0.75;

    cursor: pointer;

    z-index: 2;
}

.camera-shoot:hover {
    opacity: 1;
    transition: 0.3s;
}

.camera-margin {
    width: 100%;
    height: 15px;

    position: relative;
    float: left;

    background-color: #272727;
}

@media (max-width: 40rem) {
    .camera-webcam {
        width: 100%;
        height: 100vw;
    }
    
    .camera-loading {
        width: 100%;
        height: 100vw;
    }

    .camera-shoot {
        top: calc(100vw - 4rem);
        left: calc(50% - 1.5rem);
    }
}