.likes {
    width: 100%;
    height: auto;
    padding-bottom: 0.5rem;

    position: relative;
    float: left;

    border-top: solid 1px #303030;
}

.likes-user {
    width: calc(2.45rem - 2px);
    height: calc(3.75rem - 2px);
    margin: 0.5rem 0 0 0.5rem;

    position: relative;
    float: left;
}

.likes-user-picture {
    width: calc(2.45rem - 2px);
    height: calc(2.45rem - 2px);

    position: relative;
    float: left;

    background-size: cover;
    background-position: center;

    border: solid 1px #404040;
    border-radius: 50%;

    cursor: pointer;
}

.likes-user-nickname {
    width: calc(2.05rem - 2px);
    height: 0.6rem;
    margin-top: 0.3rem;
    padding: 0.2rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 0.6rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: #303030;
    border-radius: 0.2rem;

    opacity: 0.5;
}