.search {
    width: 100%;
    height: calc(100% - 5.5rem + 2px);
    padding-bottom: 0.5rem;

    overflow-x: hidden;
    overflow-y: scroll;

    position: fixed;
    top: 2.5rem;
    left: 0;

    background-color: #202020;

    z-index: 2;
}

.search-button-container {
    width: 6rem;
    height: 2rem;
    margin: 1rem 0;

    position: relative;
    float: left;

    background-color: #303030;
    border-top: solid 0.05rem #404040;
    border-left: solid 0.05rem #404040;
    border-bottom: solid 0.05rem #404040;
}

.search-button {
    width: 2.49rem;
    height: 0.99rem;
    margin-top: 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 0.99rem;
    border: solid 0.05rem #606060;

    opacity: 0.5;

    cursor: pointer;
}

.search-button:nth-child(1) {
    margin-left: 0.5rem;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
}

.search-button:nth-child(2) {
    border-radius: 0 0.5rem 0.5rem 0;
}

.search-button-active {
    color: black;
    background-color: white;
}

.search-input {
    width: 22.9rem;
    height: 2rem;
    margin: 1rem 0;
    padding: 0 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    background-color: #303030;
    border: none;
    border-top: solid 0.05rem #404040;
    border-right: solid 0.05rem #404040;
    border-bottom: solid 0.05rem #404040;

    cursor: pointer;
    outline: none;
}


.search-info {
    width: 28rem;
    height: 1rem;
    margin-top: 0;

    position: relative;
    float: left;

    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    background: none;
    border: none;

    opacity: 0.25;

    cursor: pointer;
    outline: none;
}

.search-user-container {
    width: 100%;
    height: 3rem;
    margin: 0 0 0.5rem 0;

    position: relative;
    float: left;

    border: solid 0.05rem #404040;

    cursor: pointer;
}

.search-user-profile {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.5rem;

    position: relative;
    float: left;

    background-size: cover;
    background-position: center;

    border: solid 0.05rem #404040;
    border-radius: 50%;
}

.search-user-nickname {
    width: auto;
    max-width: 10rem;
    height: 3rem;
    margin: 0 0 0 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.9rem;
    font-weight: 900;
    line-height: 2.9rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    opacity: 0.75;
}

.search-user-bio {
    width: auto;
    max-width: 10rem;
    height: 3rem;

    margin: 0 0 0 1rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 3.1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    opacity: 0.5;
}

.search-post-container {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.search-post {
    width: calc(9.66rem - 2px);
    height: calc(9.66rem - 2px);
    margin: 0 0.5rem 0.5rem 0;

    position: relative;
    float: left;

    border: solid 1px #404040;

    cursor: pointer;
}

.search-post:nth-child(3n) {
    margin-right: 0;
}

.search-picture {
    width: 100%;
    height: 100%;

    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.search-load {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    position: absolute;
    top: 0;
    left: 0;

    background-color: #252525;
    border-top: solid 1px #404040;
    border-bottom: solid 1px #404040;
}

@media (max-width: 50rem) {
    .search-input {
        width: calc(100% - 7.1rem);
    }

    .search-info {
        width: 100%;
    }

    .search-post {
        width: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
        height: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
    }
    
    .search-post-mobile {
        width: calc(95vw / 3 - 0.5rem * 2 / 3 - 2px);
        height: calc(95vw / 3 - 0.5rem * 2 / 3 - 2px);
    }

    .search-load {
        width: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
        height: calc((95vw - 15px) / 3 - 0.5rem * 2 / 3 - 2px);
    }

    .search-load-mobile {
        width: calc(95vw / 3 - 0.5rem * 2 / 3 - 2px);
        height: calc(95vw / 3 - 0.5rem * 2 / 3 - 2px);
    }
}