.canvas {
    width: 30rem;
    height: 30rem;
    overflow: hidden;

    position: absolute;
    top: 3.5rem;
    left: 0;

    z-index: 4;
}

.canvas-sticker {
    width: 3rem;
    height: 3rem;

    position: absolute;
    top: 0;
    left: 0;

    background-size: cover;
    background-position: center;
}

@media (max-width: 50rem) {
    .canvas {
        width: calc(95vw - 15px);
        height: calc(95vw - 15px);

        max-width: calc(95vw - 15px);
        max-height: calc(95vw - 15px);
    }
}