.message {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;

    position: relative;
    float: left;

    background-color: #303030;
    border: solid #404040 1px;

    cursor: pointer;
}

.message-profile {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0.75rem 0.5rem 0.5rem;

    position: relative;
    float: left;

    background: url('https://post-phinf.pstatic.net/MjAxOTA4MDZfMTAg/MDAxNTY1MDc5NDM2NjQy.mXguO78S40YwnkUe6KGCu_QTEJDvcOr9AAtGosAi_wgg.05dbyJZgGd9_0VNWoP5TZVedTivq-24-Z7QMWipjEfUg.JPEG/1-2.jpg?type=w1200');
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    border: solid 1px #404040;
    border-radius: 50%;
}

.message-author {
    width: auto;
    height: 3rem;
    margin: 0 0.4rem 0 0;

    position: relative;
    float: left;

    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 3rem;

    opacity: 0.5;
}

.message-content {
    width: auto;
    height: 3rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 3rem;

    opacity: 0.25;
}

.message-time {
    width: 6rem;
    height: 3rem;

    position: absolute;
    top: 0;
    left: calc(100% - 6.75rem);

    color: white;
    font-size: 0.5rem;
    font-weight: 400;
    text-align: right;
    line-height: 3rem;

    opacity: 0.35;
}